# Wrangle Data defnied function to call prepare and acquire modules and make clean data easily reproducible
## This makes the code more modular as well.

### first attempt

In [1]:
# # create a .py file with my acquire and prepare module and define a function to wrangle data calling functions from modules.
import numpy as np
import pandas as pd

# from acquire import get_telco_data
# from prepare import clean_telco_data

# def wrangle_data():
#     """
#     This function wrangles the data by acquiring and preparing it.

#     Returns:
#         Pandas DataFrame
#     """

#     df = get_telco_data()
#     df = clean_telco_data()
    
#     return train, val, test

In [2]:
# create a .py file with my acquire and prepare module and define a function to wrangle data calling functions from modules.
from prepare import clean_telco_data

def wrangle():
    """
    This function wrangles the data by acquiring and preparing it.

    Returns:
        Pandas DataFrame of train, val, and test subsets
    """

    df = clean_telco_data()
    
    return df

In [3]:
train, val, test = wrangle()

## Checked function

In [4]:
train.head()

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,gender,partner,dependents,phone,multiple_lines,...,churn,dsl,fiber_optic,month_to_month,one_year,two_year,bank_transfer_payment,credit_card_payment,electronic_payment,mailed_payment
4604,6490-FGZAT,0,6,20.65,109.30,1,0,0,1,0,...,0,0,1,1,0,0,0,0,0,1
4051,5707-ORNDZ,1,9,54.55,494.05,1,0,0,1,1,...,1,1,0,1,0,0,0,0,1,0
5159,7252-NTGSS,0,1,45.15,45.15,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,1
2974,4250-WAROZ,1,60,93.25,5774.55,1,1,1,1,1,...,0,0,1,1,0,0,0,0,1,0
2979,4257-GAESD,0,6,45.00,298.70,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0

## Checked Shape

In [5]:
print(f'train -> {train.shape}')
print(f'validate -> {val.shape}')
print(f'test -> {test.shape}')

train -> (3943, 27)
validate -> (1691, 27)
test -> (1409, 27)

In [7]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [9]:
data = wrangle()  # Replace with the actual function you use
X, y = data.drop('target', axis=1), data['target']

AttributeError: 'tuple' object has no attribute 'drop'